@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Poppins:wght@300&display=swap%27');
:root {
	font-family: "Poppins", sans-serif;
	font-family: "Hind", sans-serif;
	--header-color: white;
	--main-color: black;
}
.js-focus-visible{
	max-width: 1280px;
}
body {
	max-width: 980px;
	min-width: 320px;
	margin: auto;
}

header nav {
	display: flex;
}

header nav .banner {
	background-color: rgba(0, 0, 0, 0);
}

header nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 60px;
	margin-top: 20px;
	color: blueviolet;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
}

nav ul li::after {
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	background-color: #be11e0;
	transition: width 0.3s ease-in-out;
}

nav ul li:hover {
	color: plum;
}

nav ul li:hover:after,
nav ul li:focus:after {
	width: 50%;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

#home {
	background-image: url(../img/img-about-us/header-background-img.webp);
	min-height: 400px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

header .title {
	justify-content: center;
	font-size: 72px;
	margin-top: 80px;
	color: var(--header-color);
	
}

.clock{
	color: white;
	font-weight: 600;
	font-size: 18px;
	margin-top: 20px;
}


.main-text-and-photo {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
	margin-left: 30px;
	margin-right: 30px;
}

.team-photo {
	max-width: 11cm;
	max-height: 7.2cm;
	margin-right: 20px;
}

.main-bg-c p {
	display: block;
}

.main-bg-c p {
	font-size: 18px;
	line-height: 1.61;
	color: #5d697e;
	padding-right: 80px;
	font-family: "Hind", sans-serif;
}

.follow {
	margin-left: 30px;
}

#social {
	display: flex;
	flex-direction: row;
}

#social .follow {
	font-weight: bold;
	color: rgb(35, 54, 79);
}

main .main-bg-c {
	background-color: #f8f9fd;
	padding-top: 1px;
}

.managment-h {
	text-align: center;
	font-weight: 700;
	font-size: 39px;
	color: rgb(35, 54, 79);
	margin-top: 10px;
	margin-bottom: 60px;
}

#management {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vw;
	margin-left: 30px;
}

#management h2 {
	text-align: center;
	color: rgb(35, 54, 79);
	font-size: 27px;
	font-weight: 700;
	margin-right: 60px;
}

#management h3 {
	font-weight: 700;
	color: #5d697e;
	text-align: center;
	font-size: 14px;
	margin-right: 60px;
}

#management p {
	text-align: center;
	font-size: 18px;
	margin-right: 60px;
	line-height: 29px;
	font-weight: 400;
	color: rgb(93, 105, 126);
}

.values{
	background-image: url(../img/img-about-us/body-background-img.webp);
	min-height: 766px;
	background-size: cover;
	background-position: center;
	margin-top: 80px
}
.values-bg-color{
	display: flex;
	flex-direction: column;
	color: rgb(174, 194, 235);
	display: grid;
	
}
.values h1 {
	color: white;
	font-size: 39px;
	margin-top: 110px;
	margin-left: 90px;
	font-family: "Popins", sans-serif;
	font-weight: 700;	
}
.values p{
	font-size: 21.3px;
	margin-right: 540px;
	margin-left: 90px;
	margin-top: 30px;
	font-family: "Hind", sans-serif;
	font-weight: 700;
}
.careers{
	display: flex;
	flex-direction: row;
	margin-left: 30px;
	
}

.careers-h1 {
	margin-top: 90px;
	margin-left: 30px;
	font-weight: 800;

}
.careers-p {
	font-size: 20px;
	margin-top: 30px;
	font-family: "Hind", sans-serif;
	font-weight: 600;
	margin-right: 500px;
	margin-left: 30px;
	color: rgb(93, 105, 126);
}
.careers-img{
	margin-left: 520px;
	margin-top: -240px;
	
}
.tra{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	margin-top: -110px;
	
}

.tra img{
	margin-top: 20px;
	margin-left: 30px;
}
.tra p{
	margin-top: 10px;
	margin-left: -350px;
	margin-right: 500px;
	color: rgb(35, 54, 79);
	font-size: 25px;
	font-weight: 700;

}

footer{
	margin-top: 60px;
}
.w-text-content{
	text-align: center;
	color:rgb(174, 194, 235);
	font-weight: 700;
}

.footer-txt{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

}
.text{
	text-decoration: none;
    color: #fff;
    font-size: 18px;
	
}
.txt-l{
	margin-left: 120px;
}
#social-f .follow{
	margin-top: 25px;
	color: rgb(174, 194, 235);
	font-weight: 400;
	font-size: 18px;
}
#social-f{
	margin-left: -140px;
	
}

.footer-p{
	color: rgb(174, 194, 235);
	font-weight: 600;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 18px;
	width: 150px;
}
.form-color{
	color:rgb(172, 172, 172) ;
	border: none;
	width: 75%;
	margin-left: 30px;
	width: 150px;
	display: inline-block;
}
#subscribe {
	margin-left: 750px;
	margin-top: -225px;
	max-width: 250px;
	
}

.line {
	color: rgb(170, 170, 170);
	margin-left: 20px;
	margin-right: 20px;
	
}
.nickname{
color: white;
font-weight: 600;
}
