@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Poppins:wght@300&display=swap%27');

:root {
    font-family: "Poppins", sans-serif;
    --header-color:white;
    --main-color: black;

}

*{
    text-align: center;
    background-color: grey;
}

body {
    max-width: 980px;
    min-width: 320px;
    margin: auto;
}

header nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
}

header nav .banner{
    background-color: rgba(0, 0, 0, 0);
}

header .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-left: 250px;  
    font-size: 20px;
}

header .menu a {
    display: block;
    color: var(--header-color);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
}

header .menu a:hover {
    font-weight: bold;
}

#home{
  background-image: url(../img/img-about-us/header-background-img.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  filter: grayscale(100%);
}

header .title{
  justify-content: center;
  font-size: 72px;
  color: var(--header-color);
  background-color: rgba(0, 0, 0, 0);
}

