#home{
    background-image: url(../img/img-about-us/header-background-img.jpg);
    min-height: 750px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: right;
    flex-direction: column;
}
header .menu a {
    display: inline;
    color: white;
    
}
:root {
    font-family: "Poppins", sans-serif;
}
h1 {
    text-align: center;
    font-weight: bold;
}
h2 {
    
    color: #23364f;
}
  iframe {
      height: 224px;
  }
  label  {
display: flex;
position: relative;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
font-size: var(--ui-text-font-size);
line-height: 1.61;
    font-weight: 400;
    font-family: Hind,sans-serif;
    color: #5d697e;

  }

