@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Poppins:wght@300&display=swap%27');

* {
    text-align: center;
    background-color: white;
    max-width: 980px;
    margin: auto;
}

p {
    font-family: 'Hind', sans-serif;
    text-align: center;
    color: #5d697e;
}

h1,
h2,
h3 {

    font-family: 'Poppins', sans-serif;
}

header {
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.jpg);
    display: flex;
    flex-wrap: wrap;
    background-position: top center;
    background-repeat: no-repeat;
}

.title {
    opacity: 0.6;
    font-family: 'Poppins', sans-serif;
    line-height: 35.2px;
    text-align: center;

}

header .banner {
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-color: rgb(85, 26, 139);
    display: block;
}

.menu {
    clear: none;
    position:
        absolute;
    z-index: 100;
    line-height: 30px;
    height: 5%;
    margin: 0;
    right: 0;
    color: #ffffff;

}


.buttons {
    display: inline-block;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.dark {
    color: rgb(35, 54, 79);
}