@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Poppins:wght@300&display=swap%27");

.container {
  background: linear-gradient(
      0deg,
      rgba(49, 49, 88, 0.767),
      rgba(39, 39, 61, 0.644)
    ),
    url(images/background.jpg) repeat;
  background-size: cover;
  font-size: 20px;
  max-width: 100%;
  height: 100vh;
  padding-right: 8%;
  padding-left: 8%;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Hind", sans-serif;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
  color: blueviolet;
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Hind", sans-serif;
}
.container_title {
  line-height: 64.9px;
}
nav ul li::after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #be11e0;
  transition: width 0.3s ease-in-out;
}
nav ul li:hover {
  color: plum;
}
nav ul li:hover:after,
nav ul li:focus:after {
  width: 50%;
}

.navbar {
  display: flex;
  align-items: center;
  height: 12%;
}
nav {
  flex: 1;
  text-align: right;
  margin-top: 40px;
}
.logo {
  width: 198px;
  height: 57px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.text_header {
  font-size: 86px;
  padding-top: 8%;
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.p_header {
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.container_header {
  font-size: 20px;
  width: 100%;
  height: 100vh;
  padding-right: 8%;
  padding-left: 8%;
  box-sizing: border-box;
}

.butt {
  position: absolute;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 3px solid plum;
  font-size: 30px;
  color: plum;
  text-decoration: none;
  width: 250px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.butt::before,
.butt::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: -100%;
  opacity: 0.5;
  transition: 0.3s;
  z-index: -1;
}
.butt::after {
  opacity: 1;
  transition-delay: 0.1s;
}
.butt:hover {
  color: plum;
}
.butt:hover::before,
.butt:hover::after {
  left: 0;
}

.blocks {
  background: url(images/bg.png);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.container_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.first_text {
  margin-top: 145px;
}
.leftimg {
  width: 100%;
  display: block;
  float: left;
}

.serv {
  text-align: center;
}

.about_container {
  padding-top: 30px;
  text-align: center;
}
.zagolovok {
  color: #23364f;
  font-size: 35px;
  line-height: 45px;
  font-family: "Poppins", sans-serif;
}
.center_text {
  color: #5d697e;
  font-size: 19px;
}

.photo1 {
  padding: 50px;
  object-fit: cover;
}

.provide {
  text-decoration: none;
  color: #a23aa2;
}
.services {
  background: url(images/bg.png);
  width: 100%;
  background-size: cover;
}
.zagolovok2 {
  text-align: center;
  padding-top: 50px;
}

.exp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.m_text {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 10px;
  padding: 15px;
  background: rgb(228, 118, 200);
  border-radius: 15px;
  width: 300px;
  height: 250px;
}
.d_text {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 15px;
  background: rgb(96, 88, 146);
  border-radius: 15px;
  width: 300px;
  height: 250px;
}
.t_text {
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 15px;
  background: rgb(228, 94, 194);
  border-radius: 10px;
  width: 300px;
  height: 250px;
}

.container_g {
  background-image: url(images/background2.png);
  width: 100%;
  background-position: cover;
  height: 100vh;
}

.m_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-left: 190px;
  margin-top: 300px;
}

.z-text-container {
  background: linear-gradient(
      0deg,
      rgba(49, 49, 88, 0.767),
      rgba(39, 39, 61, 0.644)
    ),
    url(images/bg4.png) repeat;
  height: 490px;
}
.z-text-wrapper {
  text-align: center;
}
z-text-main {
  display: grid;
}
.z-text-numbers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.x-main-container{
  background-image: url(images/pink_bg.png);
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 36px;
}
.x-text-wrapper{
  text-align: center;
  margin-top: 50px;
}

.Abandon-Chaos{
  font-size: 86px;
  

  color: #fff;
  text-align: center;
  
  
}
.Text-content{
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  color: #5d697e;
}

.w-selection-end{
  padding: top 3px;
  background: #55759e;
     
}
.w-text-content{
  font-size: 18px;
  font-family: Hind,sans-serif;
  color: #aec2eb;
}
.menu_footer{
  font-size: 18px;
  line-height: normal;
  color: #fff;  
}
.clients{
  text-align: center;
}

.r-w{
  text-align: center;
}

.c-background{
  background: url(images/pink_bg2.png);
  width: 100%;
  height: 400px;

}