@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Poppins:wght@300&display=swap%27');

p {
    font-family: 'Hind', sans-serif;
    text-align: center;
    color: #5d697e;
}

h1,h2,h3{
    
    font-family: 'Poppins', sans-serif;
}

header{
text-align: center;
background-image: url();


}

*{
    text-align: center;
    background-color: grey;
    max-width: 980px;
    margin: auto;
}

.title{
    color: #ffffff;
    line-height: 35.2px;
}
header .banner{
background-image: url(..img/background.jpg);
min-height: 400px;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.menu{ 
    clear:none; 
    position: 
    absolute;
     z-index: 100;
     line-height:30px; 
     height:5%;
     margin:0;
    right:0; 
    color: #ffffff;
     
    }

    .banner{
        display: block;
        width: 198px;
        margin: 0;
        padding: 0;
        border: 0;
        
    }

    .buttons{
    display: inline-block;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.dark{
    color:rgb(35, 54, 79);
}