#home{
    background-image: url(../img/img-about-us/header-background-img.jpg);
    min-height: 750px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: right;
    flex-direction: column;
    filter: grayscale(100%);
  }
  
