.btn-grad {background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%)}
 .btn-grad {
 margin: 10px;
 padding: 15px 45px;
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 border-radius: 10px;
 display: inline-block;
 cursor: pointer;
 margin-left: 30px;
 }

.btn-grad:hover {
 background-position: right center; /* change the direction of the change here */
 color: #fff;
 text-decoration: none;
 }
 .btn-grad-f{
	padding: 12px 36px ;
}
         